<html>
  <head>
    <title>Item Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <%- include("layout/nav") %>
    <main>
      <div class="app-container">
        <!-- item details -->
        <div class="itemDetails-container">
          <div class="itemDetails-image">
            <img src="<%= '../' + itemDetails?.imgSrc %>" />
          </div>
          <div class="itemDetails-title"><%= itemDetails?.title %></div>
          <div class="itemDetails-text">
            <p class="inline"><%= itemDetails?.itemDes %></p>
          </div>
        </div>
        <!-- delete button -->
        <div class="btn">
          Think twice before you
          <form action="/delete/<%= itemDetails.id %>" method="post">
            <button class="delete-btn">Delete</button>
          </form>
          me.
        </div>
      </div>
    </main>
  </body>
</html>
